@import "tailwindcss";

@theme {
  --color-brand-950: #06141B;
  --color-brand-900: #11212D;
  --color-brand-700: #253745;
  --color-brand-500: #4A5C6A;
  --color-brand-300: #9BA8AB;
  --color-brand-100: #CCD0CF;
}

/* 全局基础 */
@layer base {
  body {
    font-family:
      'Inter',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      'PingFang SC',
      'Hiragino Sans GB',
      'Microsoft YaHei',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
